* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
.searchBar{
  color:white !important;
  
}



  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
